docopt==0.6.2
mock==5.0.2
pytest==7.3.1
requests==2.30.0
urllib3==1.26.15
requests_mock==1.10.0
PyYAML==6.0
Jinja2==3.1.2
uuid==1.30
Faker==18.7.0
colorama==0.4.6
networkx==2.6.3
grpcio==1.54.0
grpcio-tools==1.53.0

