docopt==0.6.2
mock==5.1.0
pytest==7.4.0
requests==2.31.0
urllib3==2.0.3
requests_mock==1.11.0
PyYAML==6.0
Jinja2==3.1.2
Faker==19.10.0
colorama==0.4.6
networkx==3.1
grpcio==1.56.0
grpcio-tools==1.56.0

