docopt==0.6.2
mock==4.0.3
pytest==6.2.5
requests==2.26.0
urllib3==1.26.7
requests_mock==1.9.3
PyYAML==6.0
Jinja2==3.0.3
uuid==1.30
Faker==11.1.0
colorama==0.4.4
networkx==2.6.3
grpcio==1.46.0
grpcio-tools==1.43.0

